{% extends 'base.html' %} {% block content %}
<div class="max-w-[1200px] mx-auto px-2 py-10">
  <h1 class="text-base-100 text-lg md:text-xl mb-5">Kết quả tìm kiếm "123"</h1>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="space-y-2">
      <img
        class="rounded-md w-full aspect-video"
        src="https://images.unsplash.com/photo-1679850281616-74e0a264971f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDh8NnNNVmpUTFNrZVF8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <span class="text-sm text-primary-focus">Jun 12, 2022</span>
      <h2 class="line-clamp-2 font-bold link link-hover text-base-100">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        debitis omnis voluptatum optio. Ad repellendus iusto quas laudantium,
        officia similique obcaecati dignissimos? Nemo eveniet quod quam numquam
        nostrum, vero odit!
      </h2>
      <p class="text-primary-focus line-clamp-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam officia
        magnam velit error fuga, eos reprehenderit nulla fugit tempora eaque,
        unde temporibus veniam facilis ducimus alias dicta aspernatur? Nulla,
        cum!
      </p>
    </div>
    <div class="space-y-2">
      <img
        class="rounded-md w-full aspect-video"
        src="https://images.unsplash.com/photo-1679850281616-74e0a264971f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDh8NnNNVmpUTFNrZVF8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <span class="text-sm text-primary-focus">Jun 12, 2022</span>
      <h2 class="line-clamp-2 font-bold link link-hover text-base-100">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        debitis omnis voluptatum optio. Ad repellendus iusto quas laudantium,
        officia similique obcaecati dignissimos? Nemo eveniet quod quam numquam
        nostrum, vero odit!
      </h2>
      <p class="text-primary-focus line-clamp-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam officia
        magnam velit error fuga, eos reprehenderit nulla fugit tempora eaque,
        unde temporibus veniam facilis ducimus alias dicta aspernatur? Nulla,
        cum!
      </p>
    </div>
  </div>
</div>
{% endblock content %}
