{% extends 'base.html' %} {% block content %} {% block extrahead %}
<title>Search</title>
<meta name="title" content="Search" />
<meta name="description" content="Find blog" />
{% endblock extrahead %}
<div class="max-w-[1200px] mx-auto px-2 py-10">
  <h1 class="text-base-100 text-lg md:text-xl mb-5">
    Kết quả tìm kiếm {% if query %} "{{query}}" {% endif %}
  </h1>

  {% if results|length == 0 %}
  <p class="text-base-100">Không tìm thấy kết quả phù hợp</p>
  {% endif %} {% if results|length > 0 %}
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    {% for blog in results %}
    <div class="space-y-2">
      <img
        class="rounded-md w-full aspect-video"
        src="/media/{{blog.thumbnail}}"
        alt=""
      />
      <span class="text-sm text-primary-focus"
        >{{blog.created_at|date:"M j Y"}}</span
      >
      <a href="/detail/{{blog.slug}}"
        ><h2 class="line-clamp-2 font-bold link link-hover text-base-100">
          {{blog.name}}
        </h2></a
      >
      <p class="text-primary-focus line-clamp-3">{{blog.description}}</p>
    </div>
    {% endfor %}
  </div>
  {% endif %} {% if total_page > 1 %}
  <div class="flex items-center justify-center py-5">
    <div class="btn-group">
      {% if pre_page != None %}
      <a href="/search?{{pre_page}}"><button class="btn">«</button></a>
      {% endif%}
      <button class="btn">Page {{current_page}}</button>

      {% if next_page != None %}
      <a href="/search?{{next_page}}"><button class="btn">»</button></a>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
