{% extends '../base.html' %}

{% block content %}
<div class="hero min-h-[calc(100vh-66px)]">
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
            {% csrf_token %}
            <div class="form-control">
                <label for="id_password" class="required label label-text">Password</label> <input type="password"
                    name="password" autocomplete="current-password" id="id_password" class="input input-bordered"
                    placeholder="Type here">
            </div>
            <div class="form-control">
                <label for="id_confirmPassword" class="required label label-text">Confirm Password</label> <input
                    type="password" name="confirmPassword" autocomplete="current-confirmPassword"
                    id="id_confirmPassword" class="input input-bordered" placeholder="Type here">
            </div>
            <div class="submit-row form-control mt-6">
                <button id="idBtnSubmit" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</div>
<script>
    "{% if user.is_authenticated %}"
    window.location.href = window.location.origin
    "{% endif %}"
    const txtPassword = document.getElementById('id_password');
    const txtConfirmPassword = document.getElementById('id_confirmPassword');
    const btnSubmit = document.getElementById('idBtnSubmit');
    const checkIsNumber = (str) => { return !isNaN(str) }
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const resChangePassword = (isChangePassword) => {
        if (isChangePassword == "Success") {
            swal(
                'Success',
                'Change password success!!!',
                'success'
            )
            window.location.href = window.location.origin
            return
        }
        if (isChangePassword == "Similar") {
            swal(
                'Warning!',
                'The password is too similar to the username!!!',
                'warning'
            )
            btnSubmit.disabled = false
            return
        }
        if (isChangePassword == "Fail") {
            swal(
                'Warning!',
                'Check the latest email messages again!!!',
                'warning'
            )
            btnSubmit.disabled = false
            return
        }
    }
    const changePassword = async () => {
        const password = txtPassword.value;
        const payload = {
            password,
        };
        const csrftoken = getCookie("csrftoken");
        const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify(payload),
        };
        const response = await fetch(`changepassword/`, options);
        const data = await response.json();
        resChangePassword(data.isChangePassword);
    }
    const fChangePassword = (e) => {
        btnSubmit.disabled = true
        e.preventDefault();
        if (txtPassword.value == "" || txtConfirmPassword.value == "") {
            swal(
                'Warning!',
                'You must enter the full field!!!',
                'warning'
            )
            return
        }
        if (txtPassword.value.length < 8) {// mật khẩu từ 8 kí tự trở lên
            swal(
                'Warning!',
                'Your password must contain at least 8 characters!!!',
                'warning'
            )
            return
        }
        if (checkIsNumber(txtPassword.value)) {// kiểm tra mật khẩu có phải tất cả đều là số
            btnSubmit.disabled = false
            swal(
                'Warning!',
                'Your password can’t be entirely numeric!!!',
                'warning'
            )
            return
        }
        if (txtPassword.value !== txtConfirmPassword.value) {
            btnSubmit.disabled = false
            swal(
                'Warning!',
                'The two password fields didn’t match!!!',
                'warning'
            )
            return
        }
        changePassword();
    }
    txtPassword.addEventListener("keypress", function (e) {
        if (e.key === "Enter") {
            fChangePassword(e);
        }
    });
    txtConfirmPassword.addEventListener("keypress", function (e) {
        if (e.key === "Enter") {
            fChangePassword(e);
        }
    });
    btnSubmit.onclick = (e) => {
        fChangePassword(e);
    };
</script>
{% endblock %}