{% extends '../base.html' %}
{% block extrahead %}
<!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" /> -->
<script src="https://cdn.tailwindcss.com"></script>

{% endblock %}
{% block content %}
<div class="hero min-h-[calc(100vh-66px)]">
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
            <form action="/admin/login/?next=/admin/login" method="post" id="login-form"><input type="hidden"
                    name="csrfmiddlewaretoken" value="">
                {% csrf_token %}
                <div class="form-control">
                    <label for="id_username" class="required label label-text">Username</label> <input type="text"
                        name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150"
                        required="" id="id_username" class="input input-bordered">
                </div>
                <div class="form-control">
                    <label for="id_password" class="required label label-text">Password</label> <input type="password"
                        name="password" autocomplete="current-password" required="" id="id_password"
                        class="input input-bordered">
                    <input type="hidden" name="next" value="/admin/login">
                    <label class="label">
                        <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
                    </label>
                </div>
                <div class="submit-row form-control mt-6">
                    <button type="submit" class="btn btn-secondary">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}