{% extends "admin/change_list.html" %}
{% block extrahead %}
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>

{% endblock %}


{% block content %}
<div class="container">
    <h1 class="text-5xl font-bold text-[#447e9b] my-[1rem]">Statistical</h1>
    <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-3 xl:lg:grid-cols-3">
        <div class="flex justify-between items-center bg-[#79aec8] rounded p-4 h-[140px]">
            <div class="">icon</div>
            <div class="flex flex-col items-end">
                <h3 class="text-2xl text-[#447e9b]">4662</h3>
                <h4 class="text-md text-bold text-white">Number of Users</h4>
            </div>
        </div>
        <div class="flex justify-between items-center bg-[#79aec8] rounded p-2 h-[140px]">
            <div class="">icon</div>
            <div class="flex flex-col items-end">
                <h3 class="text-2xl text-[#447e9b]">4662</h3>
                <h4 class="text-md text-bold text-white">Number of Users</h4>
            </div>
        </div>
        <div class="flex justify-between items-center bg-[#79aec8] rounded p-2 h-[140px]">
            <div class="">icon</div>
            <div class="flex flex-col items-end">
                <h3 class="text-2xl text-[#447e9b]">4662</h3>
                <h4 class="text-md text-bold text-white">Number of Users</h4>
            </div>
        </div>
    </div>
    <div class="overflow-x-auto mt-[3rem]">
        <table class="table table-compact w-full">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Number of Likes</th>
                    <th>Number of Comments</th>
                    <th>Redirect to Post</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th></th>
                    <td>Stop coding, take time to sleep</td>
                    <td>Thiên Đạt</td>
                    <td>Code</td>
                    <td>1121</td>
                    <td>1000</td>
                    <td>Go!</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Stop coding, take time to sleep</td>
                    <td>Thiên Đạt</td>
                    <td>Code</td>
                    <td>1121</td>
                    <td>1000</td>
                    <td>Go!</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Stop coding, take time to sleep</td>
                    <td>Thiên Đạt</td>
                    <td>Code</td>
                    <td>1121</td>
                    <td>1000</td>
                    <td>Go!</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Stop coding, take time to sleep</td>
                    <td>Thiên Đạt</td>
                    <td>Code</td>
                    <td>1121</td>
                    <td>1000</td>
                    <td>Go!</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Stop coding, take time to sleep</td>
                    <td>Thiên Đạt</td>
                    <td>Code</td>
                    <td>1121</td>
                    <td>1000</td>
                    <td>Go!</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Stop coding, take time to sleep</td>
                    <td>Thiên Đạt</td>
                    <td>Code</td>
                    <td>1121</td>
                    <td>1000</td>
                    <td>Go!</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Stop coding, take time to sleep</td>
                    <td>Thiên Đạt</td>
                    <td>Code</td>
                    <td>1121</td>
                    <td>1000</td>
                    <td>Go!</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}